<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience & Education</h2>
                    <h3 class="section-subheading text-muted">Relevance experience and education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">Freelance Web Developer / Designer</h4>
                                </div>
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Designed and developed websites and applications for clients in Vancouver and K/W
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Worked closely with business owners to develop strategy
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Leveraged illustrations, photography and videos for maximum impact
                                                </p>
                                                </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Trios College, Applications Developer Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Object-oriented programming patterns and techniques in Java, C#, Ruby
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 Web-application development in ASP.NET, Ruby-on-Rails
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Android and iOS development
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Front-end development and design
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2011</h4>
                                    <h4 class="subheading">Mechanical Engineering CO-OP, <br /> University of Waterloo </h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>